*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* НАЧАЛО МАИН ------------------ */
.content {
  
  padding: 133px 30px 0;
  gap:30px;
  display: flex;
  flex-direction: row;
}
.result {
  display: flex;
  flex-direction: column;
}
/* ЧЕ ТО ТУТ НЕ ТО урок про видео*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  margin-top: 78px;
  
}
/* ЧЕ ТО ТУТ НЕ ТО урок про видео*/
.result__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ГЛОБАЛЬНО ОТСУПЫ НАДО ДЕЛАТЬ */
.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
font-size: 18px;
font-weight: 400;
margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
gap:15px;

  
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color:inherit;
  appearance: none;
 
width: 225px;
border:none;
border-top: 1px solid #ffffff; /* Добавляем верхнюю границу */
border-bottom: 1px solid #ffffff; /* Добавляем нижнюю границу */


}

.search-form__checkbox-list {
  
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {

  
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border:1px solid #fff;
  /* КВАДРАТИК В КВАДРАТИК БУИТ */
}

.button {
  background-color: inherit;
  color: #fff;
  border:1px solid#fff;
  cursor: pointer;
  font-family: Fira Sans Condensed;
font-size: 18px;
font-weight: 700;
}
.search-form__submit-button{
  margin-top: 20px;
  width: 194px;
  height: 34px;


margin-left: auto; /*хз как лучше прижаьб к правому*/


}
/* ПО ГАЙДУ*/
.content__details {
  width: 100%;
  height: 100%;
  gap:26px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
h1 {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title {

}

.content__accent {
  
  padding-top: 0;
  color: #545050;
}
/* ПО ГАЙДУ*/
.content__list {
  position: relative;
  height:298px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 399px;
}
/* МАИН ЗАКОНЧИЛСЯ ---------*/
/* ПОЧЕМУ-ТО ТУТ прелоадер начало-----------*/
.preloader-template {

}

.preloader {
  position: absolute;
  
  width: 100%;
  height: 100%;
}

.preloader-chasing-squares {

}

.square {
}
/* ПОЧЕМУ-ТО ТУТ прелоадер конец-----------*/
/* ТУМБА ЮМБЫ С КАРТОЧКАМИ начало--------- */
.cards-list-item-template {

}

.content__list-item  {
   padding-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration:none ;
}

.content__video-card {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  align-content:stretch;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.content__video-card-description {
  
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}

.content__video-card-thumbnail {
    width: 194px;
    height:103px;
}
/* ТУМБА ЮМБЫ С КАРТОЧКАМИ конец--------- */


.more-button-template {
}
.more-button{
width: 100%;
height:34px
}
.error-template {
}

.error {
}
.error__title {
}
/* добавил гпт */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}



