*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  padding: 133px 30px 0;
  gap: 30px;
  display: flex;
  flex-direction: row;
}
.result {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  margin-top: 78px;
}

.result__video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  /* ПОДУМАТЬ почему полоса под видео */
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__textfieldeld:focus {
  outline: none;
  /* ПОДУМАТЬ не врубается обводка при курсоре но она есть*/
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid#fff;
  outline-offset: 2px;
}

.search-form__label-text {
  /* gap: 15px; */
}
.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
}
.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: inherit;
  appearance: none;

  width: 225px;
  border: none;
  border-top: 1px solid #ffffff; /* Добавляем верхнюю границу */
  border-bottom: 1px solid #ffffff; /* Добавляем нижнюю границу */
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}
input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  box-shadow: inset 0 0 0 2px black;
  background-color: #fff;
  /* outline: 6px solid white;
outline-offset: -30px; ПОДУМАТЬ верное решение походу такое*/
}

.button {
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;

  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
}
.search-form__submit-button {
  /* margin-top: auto; */
  width: 194px;
  height: 34px;
 
}
.search-form__submit-button:hover {
  text-decoration: underline;
}
.search-form__submit-button:focus {
  outline: none;
}
.search-form__submit-button:focus-visible {
  outline: 1px solid#fff;
  outline-offset: 2px;
}
.search-form__submit-button:active {
  background-color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
  gap: 26px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
h1 {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title {
}

.content__accent {
  padding-top: 0;
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.preloader-template {
}

.preloader {
  position: absolute;

  width: 100%;
  height: 100%;
}

.preloader-chasing-squares {
}

.square {
}

.cards-list-item-template {
}

.content__list-item {
}
.content__list-item:hover {
  text-decoration: underline;
}
.content__list-item:active {
  background-color: #545050;
}
.content__list-item:focus-visible {
  border: 10px solid #fff;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button-template {
}
.more-button {
  width: 100%;
  height: 34px;
}
.error-template {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  color: aqua;
}

.error {
}
.error__title {
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
